@charset "UTF-8";
main{background-image:none;
display: flex}
section{ background-color: #E2D1BE;
display: flex;
	align-items: center;
justify-content:center;
flex-direction: column; 
}
section h1{font-size:40px}
section p{font-style: italic}
main div{
    background-color: #E3DAD0;
    border-radius: 20px;}
main div h1{font-size: 35px}